.map-container {
   position: relative;
   height:700px;
   width: 100%;
}

.map {
    height: 100%;
    border: 5px solid black;
}

.toggle-container {
    position: absolute;
    top:0;
    right: 0;
    height: 30px;
    width: 80px;
    border: 2px solid gray;
    background-color: gray;
}